* {
    
    width: auto;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 0 0 20px lime;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.informações {
    display: flexbox;
    margin: 30px 20px;
    padding: 15px;
    color: limegreen;
    font-family: 'Ubuntu Mono', monospace;
    
    width: auto;
}

#dados {
    flex-direction: row ;
    width: 300px;
}

#picture{
    flex-direction: row;
}

.informações #picture #foto{
    border: 5px solid rgb(70, 70, 241);
    width: 50%;
}

#nome {
    font: 35px;
    font-style: italic;
    
    text-align: center;
}

#idade,  #cidade {
   
    text-align: center;
}

.formação {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-size: 18px;
    border: 5px groove darkgray ;
    background-color: lightgray;
    font-family: 'Ubuntu Mono', monospace;
}

.formação h2 {
    text-align: center;
}

.formação li{
    list-style: square;
    padding: 5px;
}

#footer {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    border: 7px double black;
    position: relative;
    bottom: 0;
    width: auto;
}

#footer:hover {
    border: 7px groove lime;
    background-color: rgb(149, 235, 149);
    color: purple;
}